langchain
langchainhub
langgraph
ollama
langchain-community
langchain-ollama
duckduckgo-search
langchain-tavily
agentevals ##evals for agents in LangSmith?
langgraph-cli[inmem]
langmem
chromadb
psycopg[binary,pool]
langgraph-checkpoint-postgres ##for checkpointer with postgres
langgraph-checkpoint-sqlite
