langchain
langchainhub
langgraph
ollama
langchain-community
langchain-ollama
duckduckgo-search
langchain-tavily
agentevals ##evals for agents in LangSmith?
langgraph-cli[inmem]
langmem
chromadb
psycopg[binary,pool]
langgraph-checkpoint-postgres ##for checkpointer with postgres
langgraph-checkpoint-sqlite
langgraph-supervisor
pycryptodome
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.7.1
--extra-index-url https://download.pytorch.org/whl/cu121
torchvision==0.22.1
--extra-index-url https://download.pytorch.org/whl/cu121
torchaudio==2.7.1
numpy==1.26.4
